.DS_Store
.Rhistory
.Rproj.user
data/02A_Water_FAPROTAXv2/SILVA_FOCAL_ALIGNMENTS_SANITIZED.fasta
data/02A_Water_FAPROTAXv2/alignment_ch4water.fasta
data/02A_Water_FAPROTAXv2/ch4_water_intermediates2
data/02A_Water_FAPROTAXv2/SILVA_FOCAL_ALIGNMENTS_SANITIZED.fasta


